﻿@page "/fetchdata"

@using TodoList.Data
@inject WeatherForecastService ForecastService
@inject ClientsService Service

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <th>Display Name</th>
            <th>Id</th>
            <th>Mail</th>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.DisplayName</td>
                    <td>@client.Id</td>
                    <td>@client.Mail</td>
                </tr>
            }
        </tbody>
    </table>
}

    @code {
    private List<Client> clients;

    protected override async Task OnInitializedAsync()
    {
        clients = await Service.ListClients();
    }
}
