@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
        <NavMenuFluid />
        </div> *@

    <div class="main">
        @* <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div> *@

        <BFUStack>
            <BFUNavBar Header="Bubbles Company" Direction="LayoutDirection.Horizontal" Items=@items>
                <FooterTemplate>
                    <a href="MicrosoftIdentity/Account/SignIn">About</a>
                </FooterTemplate>
            </BFUNavBar>
        </BFUStack>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private List<BFUNavBarItem> items;

    protected override Task OnInitializedAsync()
    {
        items = new List<BFUNavBarItem>{

            new BFUNavBarItem() {
Text="First",
IconName="Home",
Key="1"
}
        };
        return base.OnInitializedAsync();
    }
}