<BFUStack>
    <BFUNavBar Header="Bubbles Company" Direction="LayoutDirection.Horizontal" Items=@items>
        <FooterTemplate>
            <a>About</a>
        </FooterTemplate>
    </BFUNavBar>
</BFUStack>

@code {
    private List<BFUNavBarItem> items;

    protected override Task OnInitializedAsync()
    {
        items = new List<BFUNavBarItem>{
            
            new  BFUNavBarItem() {
                Text="First",
                IconName="Home",
                Key="1"
            }
        };
        return base.OnInitializedAsync();
    }
}